.settingmain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../images/feature.jpg');
    background-position:center;
}
.prof{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 1rem;
    cursor:pointer;
}
.inputfeild{
    display: block;
    margin: 1rem;
    padding: .5rem;
    border-style: none;
    font-size: 1.2rem;
    border-radius: 2%;
    background-color: #000;
    color: #fff;
    &:focus{
        outline: none;
    }
}
.regbtn{
    margin: 1rem;
    border-style: none;
    padding: .5rem;
    background-color: #ffff;
    border-radius: 2%;
    cursor: pointer;
    &:hover{
        background-color: #000;
        color: #fff;
        transition: 0.5s;
    }
}
.redsn{
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}
.sucse{
    background-color: green;
    color: #fff;
    text-align: center;
    padding: .1rem;
}
.fail{
    background-color: red;
    text-align: center;
    padding: .1rem;
    color: #fff;
}
//mobiles
@media only screen and (max-width: 480px)
{
    .inputfeild{
        margin: .6rem;
        padding: .3rem;
        font-size: 1rem;
        border-radius: 1%;
    }
    .prof{
        margin: .6rem;
    }
    .regbtn{
        margin: .6rem;
        padding: .3rem;
        border-radius: 1%;
    }
}
//tabs
@media only screen and(min-width:481px) and (max-width: 768px) 
{
    .inputfeild{
        margin: .7rem;
        padding: .4rem;
        font-size: 1.1rem;
        border-radius: 1%;
    }
    .regbtn{
        margin: .7rem;
        padding: .4rem;
        border-radius: 1%;
    }
    .prof{
        margin: .7rem;
    }
}