.home{
    overflow: hidden;
}
.combvideos{
    display: flex;
    flex-wrap: wrap;    
    overflow: hidden;
}

  //mobiles
  @media only screen and (max-width: 480px)
  {
   
  }
  //tabs
  @media only screen and(min-width:481px) and (max-width: 768px) 
  {}
  //laptops and small screens
  @media only screen and(min-width:769px) and (max-width: 1024px) 
  {}