$maintheme:#db0c26;
.nbc{
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.fst{
    width: 30%;
    display: flex;
    align-items: center;
}
.scnd{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fmsearch{
        width: 100%;
        input{
            width:80%;
            background-color: #000;
            color: #fff;
            margin-right: .5rem;
            border-style: none;
            border-bottom: 2px solid #fff;
            padding: .4rem;
            &:focus{
                outline: none;
            }
        }
        button{
            border-style: none;
            padding: .4rem;
            background-color: #fff;
            color: #000;
            cursor: pointer;
            &:hover{
               background-color: $maintheme;
               transition: 1s;

            }
        }
    }
}
.thrd{
    width: 20%;
img{
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    float: right;
}
}
.ln{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-left: 1rem;
}
.fa-bars{
    cursor: pointer;
    color:#fff;
    font-size: 2rem;
}
.smmn{
    display: none;
}
.smmn1{
    display: block;
}
.secondmenu{
    display: flex;
    justify-content: center;
    ul{
        display: inline-block;
        li{
        display: inline-block;
        font-size: 1.3rem;
        padding: .5rem 1rem .5rem 1rem;
        cursor: pointer;
        color: #fff;
        font-family: 'Urbanist', sans-serif;
        margin-right: .5rem;
        &:hover{
            color:$maintheme;
            transition: 0.5s;
        }
    }}
    
}
.categ2{
    background-color:#000;
    border-style: none;
    color: #fff;
    font-size:1.1rem ;
    padding: .5rem 1rem .5rem 1rem;
    &:focus{
        outline: none;
    }
}
.fa-sign-out {
    color: #fff;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: .8rem;
    &:hover{
        color: $maintheme;
        transition: 0.5s;
    }
}

//responsive menu code
//mobiles
@media only screen and (max-width: 480px)
{
    .nbc{
        padding: .3rem;
    }
    .scnd{
        .fmsearch{
            width: 100%;
            input{
                width:60%;
                margin-right: .3rem;
                padding: .1rem;
            }
            button{
                padding: .1rem;
            }
        }
    }
    .thrd{
    img{
        height: 40px;
        width: 40px;
    }
    }
    .ln{
        font-size: 1.3rem;
        margin-left: .3rem;
    }
    .fa-bars{
        font-size: 1.1rem;
    }   

    .secondmenu{
        ul{
            li{
            font-size: 1rem;
            padding: .2rem .4rem .2rem .4rem;
            margin-right: .3rem;
        }}
        
    }
    .categ2{
        font-size:1rem ;
        padding: .2rem .4rem .2rem .4rem;
    }
    .fa-sign-out {
        padding: .2rem .4rem .2rem .4rem;
        font-size: 1.1rem;
        margin-left: .4rem;
    }

}
//tabs
@media only screen and(min-width:481px) and (max-width: 768px) 
{

    .nbc{
        padding: .7rem;
    }
    .scnd{
        .fmsearch{
            width: 100%;
            input{
                width:60%;
                margin-right: .3rem;
                padding: .2rem;
            }
            button{
                padding: .2rem;
            }
        }
    }
    .thrd{
    img{
        height: 50px;
        width: 50px;
    }
    }
    .ln{
        font-size: 1.5rem;
        margin-left: .3rem;
    }
    .fa-bars{
        font-size: 1.3rem;
    }   
    .secondmenu{
        ul{
            li{
            font-size: 1.2rem;
            padding: .3rem .7rem .3rem .7rem;
            margin-right: .4rem;
        }}
        
    }
    .categ2{
        font-size:1.2rem ;
        padding: .3rem .7rem .3rem .7rem;
    }
    .fa-sign-out {
        padding: .3rem .7rem .3rem .7em;
        font-size: 1.2rem;
        margin-left: .5rem;
    }

}